<!doctype html>
<html>

<head>
  <title>GotNEX</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- <script defer src="node_modules/swup/dist/swup.min.js"></script> -->

</head>

<body>

  <nav>
    <a href="/"><img id="logo" src="img/logo.png" alt="GotNEX Logo"></a>

    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
  </nav>
  <div class="container">

    <div class="jumbotron text-center">
      <small>Connecting Hoopers Everywhere</small>
      <h2>Who</h2>
      <h1>GotNEX</h1>
      <h3>Find Your Court:</h3>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    </div>

  </div>
  <div class="balls">
    <img src="img/basketball.png" alt="">
    <img src="img/basketball.png" alt="">
    <img src="img/basketball.png" alt="">
    <img src="img/basketball.png" alt="">
    <img src="img/basketball.png" alt="">
    <img src="img/basketball.png" alt="">
    <img src="img/basketball.png" alt="">
  </div>
</body>
<script type="text/javascript" src="main.js"></script>
</html>
